registry=https://pkgs.dev.azure.com/weare-dev/_packaging/weare-dev/npm/registry/
                        
always-auth=true

//pkgs.dev.azure.com/weare-dev/_packaging/weare-dev/npm/registry/:username=weare-dev
//pkgs.dev.azure.com/weare-dev/_packaging/weare-dev/npm/registry/:_password=NGRsSmlEOFJ5YVNBcEY5dGFHSkVKdWhTTDdGVTNRcFRBeGhmY014WWFRMTRoc1VoN0s5M0pRUUo5OUJHQUNBQUFBQW9QWVJaQUFBU0FaRE82ZnE5
//pkgs.dev.azure.com/weare-dev/_packaging/weare-dev/npm/:username=weare-dev
//pkgs.dev.azure.com/weare-dev/_packaging/weare-dev/npm/:_password=NGRsSmlEOFJ5YVNBcEY5dGFHSkVKdWhTTDdGVTNRcFRBeGhmY014WWFRMTRoc1VoN0s5M0pRUUo5OUJHQUNBQUFBQW9QWVJaQUFBU0FaRE82ZnE5