@use '/src/styles/vars' as *;

.check-access-message {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
  font-size: 100px;
  padding: 40px;

  .message {
    font-size: 40px;
  }
}
