.lazy-load {
  background-color: white;
  width: 100wv;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    animation: fadeInOut 3s infinite;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
