.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #001529;
  min-height: 100vh;
  color: white !important;
  padding: 50px;

  .signup-title {
    font-weight: bolder;
    margin: 40px 0px;
    font-size: 20px;
    animation: slide-left ease-in-out 1s;
  }

  .signup-form {
    min-width: 400px;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    animation: slide-left ease-in-out 1s;

    .ant-row,
    .ant-col {
      width: 100%;
    }

    .ant-checkbox-wrapper {
      color: white;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }

    .ant-form-item {
      width: 100%;

      .ant-form-item-explain-error {
        text-align: center;
      }

      input,
      .ant-picker,
      .ant-select,
      .ant-select-item-option-content {
        text-align: center;
        width: 100%;
        text-transform: uppercase;
      }

      .email-input,
      .confirm-email-input,
      .password-input,
      .confirm-password-input {
        input {
          text-transform: none;
        }
      }
    }

    .signin-label {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      animation: slide-up ease-in-out 1s;

      a {
        color: white !important;

        &:hover {
          color: orange !important;
        }
      }
    }

    .submit-btn {
      margin-top: 20px;
      width: 50%;
      animation: slide-up ease-in-out 1s;

      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }
  }

  .isoLogoWrapper {
    animation: slide-down ease-in-out 1s;
    img {
      max-height: 100px !important;
    }
  }

  @media screen and (max-width: 769px) {
    height: auto;
    padding: 40px 0px;
  }
}

.ant-select-item-option-content {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

@keyframes slide-left {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
